@page
@using Wafi.SmartHR.Web.Pages.LeaveRecords
@model IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Wafi.SmartHR.Localization
@inject IHtmlLocalizer<SmartHRResource> L
@{
    ViewData["Title"] = "Leave Records";
}

@section scripts {
    <abp-script src="/Pages/LeaveRecords/Index.js" />
}

<abp-card>
    <abp-card-header>
        <h2>@L["LeaveRecords"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="LeaveRecordsTable">
            <thead>
                <tr>
                    <th>@L["Employee"]</th>
                    <th>@L["StartDate"]</th>
                    <th>@L["EndDate"]</th>
                    <th>@L["TotalDays"]</th>
                    <th>@L["Status"]</th>
                    <th>@L["Reason"]</th>
                    <th>@L["Actions"]</th>
                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card> 